<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">Blog Articles</h1>
      <a href="/articles/new" class="btn btn-success">New Article</a>

      
      <% articles.forEach(article => { %>
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title">
              <%= article.title%>
            </h4>
            <div class="card-subtitle text-muted mb-2">
                <%= article.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2">
              <%= article.description %>
            </div>
            <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
            <a href="articles/edit/<%= article.id %>" class="btn btn-secondary">Edit</a>
            <form action="/articles/<%= article.id %>" method="POST" class="form-inline d-inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>

      <% })%>

    </div>
    
  </body>
</html>
